
@model IQueryable<BooksItem>

 <section id="books">
     <div>
@{
      
}        
@if (Model.Any())
        {
                @foreach (BooksItem entity in Model)
                {    @if (entity.name != null)
                     {
                         <section>
									<header class="major">
										<h2> Имя: @($"{entity.name}")</h2>
									</header>
									<div class="mini-posts">
										<article>
										<div>
										<a href="#" class="image1" style="width: 40%;"> <img src="~/img/@($"{entity.img}")" alt=""/></a>
										</div>
											<p>@($"{entity.desc}")</p>
										</article>
										<!-- Каринки с текстом с боку-->
									</div>
									<ul class="actions">
										<li><a href="#" class="button">Читать</a></li>
									</ul>
								</section>
								
                    <div>
                        
                        <a>
                           Название:  @($"{entity.name}")                           
                        </a>
                        @*<a> Жанр:  @foreach (var entityGenre in entity.genre) { @($"{entityGenre.genreName}")}<a/>*@
                        <a> Автор: @($"{entity.Autor}") <a/>
                               <div>
                               @Html.Raw(entity.textBooks.textBook) @*Преобразует стринг в html*@
                               </div>
                  
                           
            </div> 
                } }
                  
           
        }</div></section>
         @*@model BooksItem

        
            <div>
               
                    <div>
                        
                      
                           Название:  @($"{Model.name}")                           
                        </a>
                        <a> Жанр:  @foreach (var entityGenre in entity.genre) { @($"{entityGenre.genreName}")}<a/>
                       <a> Автор: @($"{Model.Autor}") <a/>
                            <t> @($"{Model.textBook.textBooks}") <t/>

                    
                    </div>
              
            </div>*@
  